# Node
node_modules/
package-lock.json

# Angular
frontend/.angular/
frontend/dist/
frontend/node_modules/

# Backend
backend/node_modules/
backend/outputs/

# Environment
.env

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# LaTeX
*.aux
*.out
*.pdf